<?xml version="1.0" encoding="UTF-8"?>
<beans>
<!--    <bean id="helloService" class="org.minispring.app.service.HelloServiceImpl">-->
<!--        <property type="org.minispring.app.dao" name="dao"/>-->
<!--        <constructor-arg type="int" name="id" value="3"/>-->
<!--        <constructor-arg type="String" name="name" value="abc"/>-->

<!--    </bean>-->
    <!--    <com id="aservice" class="org.minispring.app.service.HelloService">-->
    <!--        <constructor-arg type="String" name="name" value="abc"/>-->
    <!--        <constructor-arg type="int" name="level" value="3"/>-->
    <!--        <property type="String" name="property1" value="Someone says"/>-->
    <!--        <property type="String" name="property2" value="Hello World!"/>-->
    <!--        <property type="com.minis.test.BaseService" name="ref1" ref="baseservice"/>-->
    <!--    </com>-->
    <!--&lt;!&ndash;    <com id="baseservice" class="com.minis.test.BaseService" init-method="init">&ndash;&gt;-->
    <!--    </com>-->

    <bean id="userDao" class="org.minispring.app.dao.UserDaoImpl">

    </bean>

    <bean id="webBindingInitializer" class="org.minispring.web.DateInitializer"/>

    <bean id="handlerAdapter" class="org.minispring.core.web.RequestMappingHandlerAdapter">
        <property type="org.minispring.core.web.HttpMessageConverter" name="messageConverter" ref="messageConverter"/>
        <property type="org.minispring.core.web.WebBindingInitializer" name="webBindingInitializer" ref="webBindingInitializer"/>
    </bean>
    <bean id="objectMapper" class="org.minispring.core.web.DefaultObjectMapper">
        <property type="String" name="dateFormat" value="yyyy/MM/dd"/>
        <property type="String" name="decimalFormat" value="###.##"/>
    </bean>
    <bean id="messageConverter" class="org.minispring.core.web.DefaultHttpMessageConverter">
        <property type="org.minispring.core.web.ObjectMapper" name="objectMapper" ref="objectMapper"/>
    </bean>

    <bean id="viewResolver" class="org.minispring.core.web.InternalResourceViewResolver" >
        <property type="String" name="viewClassName" value="com.minis.web.servlet.view.JstlView" />
        <property type="String" name="prefix" value="/jsp/" />
        <property type="String" name="suffix" value=".jsp" />
    </bean>

</beans>